body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8228 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u8228_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8228_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u8229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u8230 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u8232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u8232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u8233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u8234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u8235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u8236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-size:12px;
  color:#BCBCBC;
}
#u8237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u8239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u8239 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:37px;
  width:11px;
  height:14px;
  font-size:28px;
}
#u8240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:541px;
}
#u8241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:375px;
  height:540px;
}
#u8242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
}
#u8243 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:620px;
  width:335px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u8244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  word-wrap:break-word;
}
.u8246 {
  position:absolute;
  left:0px;
  top:0px;
}
.u8246_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
  background-image:none;
}
.u8246_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u8247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
.u8247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-size:12px;
}
.u8248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u8249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#999999;
}
.u8250 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
.u8251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
.u8251 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:200px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u8252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:195px;
  word-wrap:break-word;
}
.u8253 {
  position:absolute;
  left:325px;
  top:17px;
  visibility:hidden;
}
.u8253_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
  background-image:none;
}
.u8253_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u8254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
.u8254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
.u8255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8253_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  visibility:hidden;
  background-image:none;
}
.u8253_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u8256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
.u8256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u8257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8256_ann {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-4px;
  width:1px;
  height:1px;
}
.u8246_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:321px;
  height:121px;
  visibility:hidden;
  background-image:none;
}
.u8246_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u8258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:121px;
}
.u8258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
  font-size:12px;
}
.u8259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u8260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#999999;
}
.u8261 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
.u8262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
.u8262 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:200px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u8263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:195px;
  word-wrap:break-word;
}
.u8264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
.u8264 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:50px;
  height:50px;
  font-size:20px;
}
.u8265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  word-wrap:break-word;
}
.u8246_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:321px;
  height:131px;
  visibility:hidden;
  background-image:none;
}
.u8246_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u8266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:131px;
}
.u8266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:130px;
  font-size:12px;
}
.u8267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:57px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u8268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#999999;
}
.u8269 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
.u8270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
.u8270 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:15px;
  width:15px;
  height:20px;
}
.u8271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8272 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:300px;
  height:70px;
}
.u8272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
.u8272_input {
  font-family:'Arial';
}
#u8245-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u8245-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:50px;
}
#u8245-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:320px;
  height:50px;
}
#u8245-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:320px;
  height:50px;
}
#u8245-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:320px;
  height:50px;
}
#u8245 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:140px;
  width:320px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u8273 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:35px;
  width:121px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u8276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u8276 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:33px;
  width:6px;
  height:25px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8278 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:26px;
  width:55px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8278_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:22px;
  width:1px;
  height:1px;
}
#u8279 {
  position:absolute;
  left:275px;
  top:64px;
  visibility:hidden;
}
#u8279_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:101px;
  height:161px;
  background-image:none;
}
#u8279_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u8281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
.u8281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
.u8282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u8280-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u8280-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
}
#u8280-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
}
#u8280-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:40px;
}
#u8280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:66px;
}
#u8284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:375px;
  height:65px;
}
#u8285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8286 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:74px;
  width:342px;
  height:48px;
  overflow:hidden;
}
#u8286_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8286_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8287 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u8287_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:451px;
  height:48px;
  background-image:none;
}
#u8287_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u8289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:2px;
}
.u8289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  height:1px;
}
.u8290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
.u8291 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:25px;
  height:25px;
}
.u8292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u8293 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:25px;
  height:25px;
}
.u8293_img.selected {
}
.u8293.selected {
}
.u8293_img.disabled {
}
.u8293.disabled {
}
.u8294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
.u8295 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:32px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1296DB;
  text-align:center;
}
.u8296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8288-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u8288-2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:47px;
}
#u8288-3 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:47px;
}
#u8288-4 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:47px;
}
#u8288-5 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:47px;
}
#u8288 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:0px;
  width:500px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:51px;
}
#u8299 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:390px;
  width:71px;
  height:50px;
}
#u8300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:71px;
  white-space:nowrap;
}
.u8302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u8302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  font-size:12px;
}
.u8302_img.selected {
}
.u8302.selected {
}
.u8303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8301-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u8301-2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:70px;
  height:70px;
}
#u8301-3 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:70px;
  height:70px;
}
#u8301-4 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:70px;
  height:70px;
}
#u8301-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:70px;
  height:70px;
}
#u8301-6 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:85px;
  width:70px;
  height:70px;
}
#u8301-7 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:85px;
  width:70px;
  height:70px;
}
#u8301-8 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:85px;
  width:70px;
  height:70px;
}
#u8301 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:440px;
  width:325px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8305 {
  position:fixed;
  left:17px;
  top:50%;
  margin-top:-74px;
  visibility:hidden;
}
#u8305_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
  background-image:none;
}
#u8305_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
}
#u8306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:147px;
}
#u8307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u8308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:335px;
  height:48px;
  font-size:16px;
  text-align:center;
}
#u8309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u8310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u8310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:1px;
}
#u8311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u8312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:48px;
  font-size:16px;
  text-align:center;
}
#u8313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u8314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u8314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:335px;
  height:1px;
}
#u8315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u8316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:335px;
  height:48px;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u8317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
