body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1642 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u1642_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1642_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u1646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-size:12px;
  color:#BCBCBC;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u1653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:37px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:541px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:375px;
  height:540px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:620px;
  width:335px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  word-wrap:break-word;
}
.u1660 {
  position:absolute;
  left:0px;
  top:0px;
}
.u1660_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
  background-image:none;
}
.u1660_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
.u1661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-size:12px;
}
.u1662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u1663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#999999;
}
.u1664 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
.u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
.u1665 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:200px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u1666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:195px;
  word-wrap:break-word;
}
.u1667 {
  position:absolute;
  left:325px;
  top:17px;
  visibility:hidden;
}
.u1667_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
  background-image:none;
}
.u1667_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
.u1668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
.u1669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1667_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  visibility:hidden;
  background-image:none;
}
.u1667_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
.u1670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u1671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1670_ann {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-4px;
  width:1px;
  height:1px;
}
.u1660_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:321px;
  height:121px;
  visibility:hidden;
  background-image:none;
}
.u1660_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:121px;
}
.u1672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
  font-size:12px;
}
.u1673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u1674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#999999;
}
.u1675 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
.u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
.u1676 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:200px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u1677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:195px;
  word-wrap:break-word;
}
.u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
.u1678 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:50px;
  height:50px;
  font-size:20px;
}
.u1679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  word-wrap:break-word;
}
.u1660_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:321px;
  height:131px;
  visibility:hidden;
  background-image:none;
}
.u1660_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:131px;
}
.u1680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:130px;
  font-size:12px;
}
.u1681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:57px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u1682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#999999;
}
.u1683 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
.u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
.u1684 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:15px;
  width:15px;
  height:20px;
}
.u1685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1686 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:300px;
  height:70px;
}
.u1686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
.u1686_input {
  font-family:'Arial';
}
#u1659-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u1659-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:50px;
}
#u1659-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:320px;
  height:50px;
}
#u1659-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:320px;
  height:50px;
}
#u1659-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:320px;
  height:50px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:140px;
  width:320px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:35px;
  width:121px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:33px;
  width:6px;
  height:25px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:26px;
  width:55px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1692_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:22px;
  width:1px;
  height:1px;
}
#u1693 {
  position:absolute;
  left:275px;
  top:64px;
  visibility:hidden;
}
#u1693_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:101px;
  height:161px;
  background-image:none;
}
#u1693_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
.u1695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
.u1696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1694-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1694-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
}
#u1694-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
}
#u1694-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:40px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:66px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:375px;
  height:65px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:74px;
  width:342px;
  height:48px;
  overflow:hidden;
}
#u1700_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1700_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1701 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u1701_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:451px;
  height:48px;
  background-image:none;
}
#u1701_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:2px;
}
.u1703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  height:1px;
}
.u1704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
.u1705 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:25px;
  height:25px;
}
.u1706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u1707 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:25px;
  height:25px;
}
.u1707_img.selected {
}
.u1707.selected {
}
.u1707_img.disabled {
}
.u1707.disabled {
}
.u1708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
.u1709 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:32px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1296DB;
  text-align:center;
}
.u1710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1702-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u1702-2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:47px;
}
#u1702-3 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:47px;
}
#u1702-4 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:47px;
}
#u1702-5 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:47px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:0px;
  width:500px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:51px;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:390px;
  width:71px;
  height:50px;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:71px;
  white-space:nowrap;
}
.u1716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u1716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  font-size:12px;
}
.u1716_img.selected {
}
.u1716.selected {
}
.u1717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1715-2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:70px;
  height:70px;
}
#u1715-3 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:70px;
  height:70px;
}
#u1715-4 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:70px;
  height:70px;
}
#u1715-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:70px;
  height:70px;
}
#u1715-6 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:85px;
  width:70px;
  height:70px;
}
#u1715-7 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:85px;
  width:70px;
  height:70px;
}
#u1715-8 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:85px;
  width:70px;
  height:70px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:440px;
  width:325px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1719 {
  position:fixed;
  left:17px;
  top:50%;
  margin-top:-74px;
  visibility:hidden;
}
#u1719_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
  background-image:none;
}
#u1719_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:147px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:335px;
  height:48px;
  font-size:16px;
  text-align:center;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u1724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:1px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:48px;
  font-size:16px;
  text-align:center;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u1728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:335px;
  height:1px;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:335px;
  height:48px;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
