body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u668 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u668_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u668_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-size:12px;
  color:#BCBCBC;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:35px;
  width:121px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:37px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:82px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:611px;
  width:375px;
  height:81px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:632px;
  width:335px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  word-wrap:break-word;
}
#u685_ann {
  border-width:0px;
  position:absolute;
  left:348px;
  top:628px;
  width:1px;
  height:1px;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:33px;
  width:6px;
  height:25px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:26px;
  width:55px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u690_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:22px;
  width:1px;
  height:1px;
}
#u691 {
  position:absolute;
  left:275px;
  top:64px;
  visibility:hidden;
}
#u691_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:101px;
  height:161px;
  background-image:none;
}
#u691_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
.u693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
.u694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u692-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u692-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
}
#u692-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
}
#u692-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:40px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:66px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:375px;
  height:65px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:74px;
  width:342px;
  height:48px;
  overflow:hidden;
}
#u698_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u698_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u699_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:351px;
  height:48px;
  background-image:none;
}
#u699_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:2px;
}
.u701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  height:1px;
}
.u702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
.u703 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:25px;
  height:25px;
}
.u704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u705 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:25px;
  height:25px;
}
.u705_img.selected {
}
.u705.selected {
}
.u705_img.disabled {
}
.u705.disabled {
}
.u706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
.u707 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:32px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1296DB;
  text-align:center;
}
.u708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u700-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u700-2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:47px;
}
#u700-3 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:47px;
}
#u700-4 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:47px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:0px;
  width:400px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:311px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:375px;
  height:310px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:147px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:141px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:460px;
  width:375px;
  height:140px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:51px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:140px;
  width:80px;
  height:50px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:80px;
  white-space:nowrap;
}
.u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  font-size:12px;
}
.u718_img.selected {
}
.u718.selected {
}
.u719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u717-2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:70px;
  height:70px;
}
#u717-3 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:70px;
  height:70px;
}
#u717-4 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:70px;
  height:70px;
}
#u717-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:70px;
  height:70px;
}
#u717-6 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:85px;
  width:70px;
  height:70px;
}
#u717-7 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:85px;
  width:70px;
  height:70px;
}
#u717-8 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:85px;
  width:70px;
  height:70px;
}
#u717-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:70px;
  height:70px;
}
#u717-10 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:170px;
  width:70px;
  height:70px;
}
#u717-11 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:170px;
  width:70px;
  height:70px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:191px;
  width:325px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u717_ann {
  border-width:0px;
  position:absolute;
  left:343px;
  top:187px;
  width:1px;
  height:1px;
}
#u721 {
  position:fixed;
  left:25px;
  top:50%;
  margin-top:-74px;
  visibility:hidden;
}
#u721_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
  background-image:none;
}
#u721_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:147px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:335px;
  height:48px;
  font-size:16px;
  text-align:center;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:1px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:48px;
  font-size:16px;
  text-align:center;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:335px;
  height:1px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:335px;
  height:48px;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:51px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:460px;
  width:71px;
  height:50px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:71px;
  white-space:nowrap;
}
.u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  font-size:12px;
}
.u739_img.selected {
}
.u739.selected {
}
.u740 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u738-2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:70px;
  height:70px;
}
#u738-3 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:70px;
  height:70px;
}
#u738-4 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:70px;
  height:70px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:510px;
  width:325px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u742 {
  position:fixed;
  left:25px;
  top:50%;
  margin-top:-74px;
  visibility:hidden;
}
#u742_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
  background-image:none;
}
#u742_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:147px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:335px;
  height:48px;
  font-size:16px;
  text-align:center;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:1px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:48px;
  font-size:16px;
  text-align:center;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:335px;
  height:1px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:335px;
  height:48px;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
