body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1819 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u1819_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1819_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u1823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-size:12px;
  color:#BCBCBC;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u1829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:375px;
  height:596px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:35px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:38px;
  width:11px;
  height:14px;
  font-size:28px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:34px;
  width:22px;
  height:22px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_ann {
  border-width:0px;
  position:absolute;
  left:355px;
  top:30px;
  width:1px;
  height:1px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:71px;
  width:326px;
  height:36px;
  overflow:hidden;
}
#u1838_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1838_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:36px;
  overflow:hidden;
  touch-action:none;
}
#u1839_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1839_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  color:#000000;
}
#u1840_img.selected {
}
#u1840.selected {
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:90px;
  height:35px;
  color:#000000;
}
#u1842_img.selected {
}
#u1842.selected {
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u1844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:90px;
  height:35px;
  color:#000000;
}
#u1844_img.selected {
}
#u1844.selected {
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u1846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:0px;
  width:90px;
  height:35px;
  color:#000000;
}
#u1846_img.selected {
}
#u1846.selected {
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u1848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:84px;
  width:6px;
  height:10px;
  color:#CCCCCC;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:84px;
  width:6px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#CCCCCC;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:2px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:1px 8px;
  -ms-transform-origin:1px 8px;
  -moz-transform-origin:1px 8px;
  -webkit-transform-origin:1px 8px;
}
#u1852 {
  position:absolute;
  left:0px;
  top:107px;
}
#u1852_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
  background-image:none;
}
#u1852_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:76px;
}
.u1856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  height:75px;
}
.u1856_img.selected {
}
.u1856.selected {
}
.u1857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
.u1858 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:22px;
  width:33px;
  height:17px;
  font-size:16px;
}
.u1858_img.selected {
}
.u1858.selected {
}
.u1859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:33px;
  white-space:nowrap;
}
.u1860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
.u1860 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:56px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u1860_img.selected {
}
.u1860.selected {
}
.u1861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
.u1862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
.u1862 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:56px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u1862_img.selected {
}
.u1862.selected {
}
.u1863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
.u1864 {
  position:absolute;
  left:201px;
  top:22px;
}
.u1864_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background-image:none;
}
.u1864_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#FF0000;
}
.u1866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1864_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1864_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#0000FF;
}
.u1868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1864_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1864_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#0000FF;
}
.u1870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1864_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1864_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#CC9966;
}
.u1872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1864_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1864_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#FF9900;
}
.u1874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u1855-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:83px;
}
#u1855-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:375px;
  height:83px;
}
#u1855-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:375px;
  height:83px;
}
#u1855-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:249px;
  width:375px;
  height:83px;
}
#u1855-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:332px;
  width:375px;
  height:83px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1852_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
  visibility:hidden;
  background-image:none;
}
#u1852_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:76px;
}
.u1878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  height:75px;
}
.u1878_img.selected {
}
.u1878.selected {
}
.u1879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
.u1880 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:22px;
  width:33px;
  height:17px;
  font-size:16px;
}
.u1880_img.selected {
}
.u1880.selected {
}
.u1881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:33px;
  white-space:nowrap;
}
.u1882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
.u1882 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:56px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u1882_img.selected {
}
.u1882.selected {
}
.u1883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
.u1884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
.u1884 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:56px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u1884_img.selected {
}
.u1884.selected {
}
.u1885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
.u1886 {
  position:absolute;
  left:201px;
  top:22px;
}
.u1886_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background-image:none;
}
.u1886_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#FF0000;
}
.u1888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1886_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1886_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#0000FF;
}
.u1890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1886_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1886_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#0000FF;
}
.u1892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1886_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1886_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#CC9966;
}
.u1894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1886_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1886_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#FF9900;
}
.u1896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u1877-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:83px;
}
#u1877-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:375px;
  height:83px;
}
#u1877-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:375px;
  height:83px;
}
#u1877-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:249px;
  width:375px;
  height:83px;
}
#u1877-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:332px;
  width:375px;
  height:83px;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1852_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
  visibility:hidden;
  background-image:none;
}
#u1852_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:76px;
}
.u1900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  height:75px;
}
.u1900_img.selected {
}
.u1900.selected {
}
.u1901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
.u1902 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:22px;
  width:33px;
  height:17px;
  font-size:16px;
}
.u1902_img.selected {
}
.u1902.selected {
}
.u1903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:33px;
  white-space:nowrap;
}
.u1904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
.u1904 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:56px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u1904_img.selected {
}
.u1904.selected {
}
.u1905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
.u1906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
.u1906 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:56px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u1906_img.selected {
}
.u1906.selected {
}
.u1907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
.u1908 {
  position:absolute;
  left:201px;
  top:22px;
}
.u1908_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background-image:none;
}
.u1908_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#FF0000;
}
.u1910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1908_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1908_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#0000FF;
}
.u1912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1908_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1908_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#0000FF;
}
.u1914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1908_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1908_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#CC9966;
}
.u1916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1908_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1908_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#FF9900;
}
.u1918 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u1899-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:83px;
}
#u1899-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:375px;
  height:83px;
}
#u1899-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:375px;
  height:83px;
}
#u1899-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:249px;
  width:375px;
  height:83px;
}
#u1899-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:332px;
  width:375px;
  height:83px;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1852_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
  visibility:hidden;
  background-image:none;
}
#u1852_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
}
#u1920 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:76px;
}
.u1922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  height:75px;
}
.u1922_img.selected {
}
.u1922.selected {
}
.u1923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
.u1924 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:22px;
  width:33px;
  height:17px;
  font-size:16px;
}
.u1924_img.selected {
}
.u1924.selected {
}
.u1925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:33px;
  white-space:nowrap;
}
.u1926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
.u1926 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:56px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u1926_img.selected {
}
.u1926.selected {
}
.u1927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
.u1928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
.u1928 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:56px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u1928_img.selected {
}
.u1928.selected {
}
.u1929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
.u1930 {
  position:absolute;
  left:201px;
  top:22px;
}
.u1930_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background-image:none;
}
.u1930_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#FF0000;
}
.u1932 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1930_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1930_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#0000FF;
}
.u1934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1930_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1930_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#0000FF;
}
.u1936 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1930_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1930_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#CC9966;
}
.u1938 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1930_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1930_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#FF9900;
}
.u1940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u1921-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:83px;
}
#u1921-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:375px;
  height:83px;
}
#u1921-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:375px;
  height:83px;
}
#u1921-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:249px;
  width:375px;
  height:83px;
}
#u1921-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:332px;
  width:375px;
  height:83px;
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1852_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
  visibility:hidden;
  background-image:none;
}
#u1852_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
}
#u1941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
}
#u1942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:76px;
}
.u1944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  height:75px;
}
.u1944_img.selected {
}
.u1944.selected {
}
.u1945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
.u1946 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:22px;
  width:33px;
  height:17px;
  font-size:16px;
}
.u1946_img.selected {
}
.u1946.selected {
}
.u1947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:33px;
  white-space:nowrap;
}
.u1948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
.u1948 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:56px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u1948_img.selected {
}
.u1948.selected {
}
.u1949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
.u1950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
.u1950 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:56px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u1950_img.selected {
}
.u1950.selected {
}
.u1951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
.u1952 {
  position:absolute;
  left:201px;
  top:22px;
}
.u1952_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background-image:none;
}
.u1952_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#FF0000;
}
.u1954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1952_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1952_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#0000FF;
}
.u1956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1952_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1952_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#0000FF;
}
.u1958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1952_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1952_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#CC9966;
}
.u1960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u1952_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
.u1952_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u1961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#FF9900;
}
.u1962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u1943-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:83px;
}
#u1943-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:375px;
  height:83px;
}
#u1943-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:375px;
  height:83px;
}
#u1943-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:249px;
  width:375px;
  height:83px;
}
#u1943-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:332px;
  width:375px;
  height:83px;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1852_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:103px;
  width:1px;
  height:1px;
}
