body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:755px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:41px;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:346px;
  word-wrap:break-word;
}
#u2795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:871px;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:350px;
  height:870px;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:427px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:506px;
  width:320px;
  height:40px;
  color:#0000FF;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:557px;
  width:107px;
  height:35px;
  font-size:12px;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u2802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:557px;
  width:70px;
  height:35px;
  font-size:12px;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:557px;
  width:143px;
  height:35px;
  font-size:12px;
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
.u2807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
.u2807 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:0px;
  width:70px;
  height:35px;
  font-size:12px;
}
.u2808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
.u2809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
.u2809 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:0px;
  width:143px;
  height:35px;
  font-size:12px;
}
.u2810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
.u2811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
.u2811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
  font-size:12px;
}
.u2812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
.u2813 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:5px;
  width:93px;
  height:25px;
}
.u2813_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
.u2813_input {
  font-family:'Arial';
}
.u2813_input:disabled {
  color:grayText;
}
.u2814 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:5px;
  width:60px;
  height:25px;
}
.u2814_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
.u2814_input {
  font-family:'Arial';
}
.u2814_input:disabled {
  color:grayText;
}
.u2815 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:5px;
  width:124px;
  height:25px;
}
.u2815_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
.u2815_input {
  font-family:'Arial';
}
.u2815_input:disabled {
  color:grayText;
}
#u2806-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u2806-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:320px;
  height:35px;
}
#u2806-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:320px;
  height:35px;
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:592px;
  width:320px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2806_ann {
  border-width:0px;
  position:absolute;
  left:328px;
  top:588px;
  width:1px;
  height:1px;
}
#u2816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:36px;
}
#u2816 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:851px;
  width:320px;
  height:35px;
}
#u2817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u2818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2819 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:716px;
  width:29px;
  height:16px;
  color:#666666;
}
#u2820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:26px;
}
#u2821 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:716px;
  width:17px;
  height:25px;
}
#u2822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2823 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:746px;
  width:312px;
  height:79px;
}
#u2823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:79px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2823_input {
  font-family:'Arial';
}
#u2824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2824 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:447px;
  width:312px;
  height:1px;
}
#u2825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2826 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:419px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2826_ann {
  border-width:0px;
  position:absolute;
  left:68px;
  top:415px;
  width:1px;
  height:1px;
}
#u2828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:33px;
}
#u2828 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:409px;
  width:217px;
  height:32px;
  color:#CCCCCC;
  text-align:right;
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u2830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:489px;
  width:312px;
  height:1px;
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:461px;
  width:85px;
  height:16px;
  color:#666666;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2832_ann {
  border-width:0px;
  position:absolute;
  left:96px;
  top:457px;
  width:1px;
  height:1px;
}
#u2834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:458px;
  width:69px;
  height:16px;
  color:#CCCCCC;
  text-align:right;
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:359px;
  width:312px;
  height:1px;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:273px;
  width:312px;
  height:1px;
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:247px;
  width:85px;
  height:16px;
  color:#666666;
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:247px;
  width:88px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u2843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u2844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u2844 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:247px;
  width:8px;
  height:16px;
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2846 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:157px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2846_ann {
  border-width:0px;
  position:absolute;
  left:68px;
  top:153px;
  width:1px;
  height:1px;
}
#u2848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u2848 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:156px;
  width:8px;
  height:16px;
}
#u2849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2850 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:231px;
  width:312px;
  height:1px;
}
#u2851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:201px;
  width:43px;
  height:16px;
  color:#666666;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:155px;
  width:73px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u2856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:199px;
  width:88px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:138px;
  width:233px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:286px;
  width:85px;
  height:16px;
  color:#666666;
}
#u2860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:314px;
  width:312px;
  height:1px;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:331px;
  width:85px;
  height:16px;
  color:#666666;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2863_ann {
  border-width:0px;
  position:absolute;
  left:96px;
  top:327px;
  width:1px;
  height:1px;
}
#u2865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:328px;
  width:30px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u2867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:137px;
  width:312px;
  height:1px;
}
#u2868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u2869 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:107px;
  width:71px;
  height:16px;
  color:#666666;
}
#u2870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2869_ann {
  border-width:0px;
  position:absolute;
  left:82px;
  top:103px;
  width:1px;
  height:1px;
}
#u2871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u2871 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:107px;
  width:8px;
  height:16px;
}
#u2872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u2873 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:106px;
  width:72px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u2875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:328px;
  width:69px;
  height:16px;
  color:#CCCCCC;
  text-align:right;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:91px;
  width:312px;
  height:1px;
}
#u2878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u2879 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:61px;
  width:85px;
  height:16px;
  color:#666666;
}
#u2880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2879_ann {
  border-width:0px;
  position:absolute;
  left:96px;
  top:57px;
  width:1px;
  height:1px;
}
#u2881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:61px;
  width:8px;
  height:16px;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:60px;
  width:72px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u2885 {
  position:absolute;
  left:266px;
  top:282px;
}
#u2885_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background-image:none;
}
#u2885_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:3px;
  width:18px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:4px;
  width:13px;
  height:17px;
  font-family:'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2885_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u2885_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:3px;
  width:18px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:14px;
  height:17px;
  font-family:'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u2900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:186px;
  width:312px;
  height:1px;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:401px;
  width:312px;
  height:1px;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:373px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:370px;
  width:69px;
  height:16px;
  color:#CCCCCC;
  text-align:right;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:51px;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:220px;
  width:61px;
  height:50px;
  font-size:12px;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:61px;
  white-space:nowrap;
}
.u2912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
.u2912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  font-size:12px;
}
.u2913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2911-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2911-2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:70px;
  height:70px;
}
#u2911-3 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:70px;
  height:70px;
}
#u2911-4 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:70px;
  height:70px;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:271px;
  width:325px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
