body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6489 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u6489_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6489_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6491 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u6493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u6493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u6495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u6496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u6497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-size:12px;
  color:#BCBCBC;
}
#u6498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u6499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u6499 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:33px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u6500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u6501 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:37px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u6502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u6503 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:34px;
  width:33px;
  height:20px;
}
#u6504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u6505 {
  position:absolute;
  left:0px;
  top:65px;
}
#u6505_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
  background-image:none;
}
#u6505_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:597px;
}
#u6506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
}
#u6507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:76px;
}
.u6509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  height:75px;
}
.u6509_img.selected {
}
.u6509.selected {
}
.u6510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
}
.u6511 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:22px;
  width:113px;
  height:17px;
}
.u6511_img.selected {
}
.u6511.selected {
}
.u6512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
.u6513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
}
.u6513 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:56px;
  width:157px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u6513_img.selected {
}
.u6513.selected {
}
.u6514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
.u6515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
.u6515 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:56px;
  width:124px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u6515_img.selected {
}
.u6515.selected {
}
.u6516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
.u6517 {
  position:absolute;
  left:226px;
  top:22px;
}
.u6517_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background-image:none;
}
.u6517_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u6518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
.u6518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-size:11px;
  color:#FF0000;
}
.u6519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
.u6520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
.u6520 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:22px;
  width:30px;
  height:17px;
  font-size:11px;
  color:#FF0000;
}
.u6521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u6508-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:83px;
}
#u6508-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:375px;
  height:83px;
}
#u6508-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:375px;
  height:83px;
}
#u6508-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:249px;
  width:375px;
  height:83px;
}
#u6508-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:332px;
  width:375px;
  height:83px;
}
#u6508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6505_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:61px;
  width:1px;
  height:1px;
}
