body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:667px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:180px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:161px;
  width:60px;
  height:60px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_ann {
  border-width:0px;
  position:absolute;
  left:643px;
  top:157px;
  width:1px;
  height:1px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:320px;
  width:30px;
  height:30px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_ann {
  border-width:0px;
  position:absolute;
  left:633px;
  top:316px;
  width:1px;
  height:1px;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:326px;
  width:10px;
  height:19px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:32px;
  width:30px;
  height:30px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_ann {
  border-width:0px;
  position:absolute;
  left:628px;
  top:28px;
  width:1px;
  height:1px;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:37px;
  width:20px;
  height:20px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:71px;
  height:253px;
  overflow:hidden;
}
#u603_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:253px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u603_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u604 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u604_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:296px;
  background-image:none;
}
#u604_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u606 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:30px;
  height:30px;
}
.u606_img.selected {
}
.u606.selected {
}
.u607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
.u608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:70px;
  height:15px;
  font-size:12px;
  text-align:center;
}
.u608_img.selected {
}
.u608.selected {
}
.u609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u605-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:47px;
}
#u605-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:70px;
  height:47px;
}
#u605-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:70px;
  height:47px;
}
#u605-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:70px;
  height:47px;
}
#u605-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:248px;
  width:70px;
  height:47px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u603_ann {
  border-width:0px;
  position:absolute;
  left:63px;
  top:61px;
  width:1px;
  height:1px;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:17px;
  width:25px;
  height:25px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_ann {
  border-width:0px;
  position:absolute;
  left:41px;
  top:13px;
  width:1px;
  height:1px;
}
