body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:667px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:180px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:161px;
  width:60px;
  height:60px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_ann {
  border-width:0px;
  position:absolute;
  left:643px;
  top:157px;
  width:1px;
  height:1px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:320px;
  width:30px;
  height:30px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_ann {
  border-width:0px;
  position:absolute;
  left:633px;
  top:316px;
  width:1px;
  height:1px;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:326px;
  width:10px;
  height:19px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:32px;
  width:30px;
  height:30px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_ann {
  border-width:0px;
  position:absolute;
  left:628px;
  top:28px;
  width:1px;
  height:1px;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:37px;
  width:20px;
  height:20px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:71px;
  height:253px;
  overflow:hidden;
}
#u450_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:253px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u450_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u451 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u451_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:71px;
  height:296px;
  background-image:none;
}
#u451_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u453 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:30px;
  height:30px;
}
.u453_img.selected {
}
.u453.selected {
}
.u454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
.u455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:70px;
  height:15px;
  font-size:12px;
  text-align:center;
}
.u455_img.selected {
}
.u455.selected {
}
.u456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u452-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:47px;
}
#u452-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:70px;
  height:47px;
}
#u452-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:70px;
  height:47px;
}
#u452-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:70px;
  height:47px;
}
#u452-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:248px;
  width:70px;
  height:47px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u450_ann {
  border-width:0px;
  position:absolute;
  left:63px;
  top:61px;
  width:1px;
  height:1px;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:17px;
  width:25px;
  height:25px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_ann {
  border-width:0px;
  position:absolute;
  left:41px;
  top:13px;
  width:1px;
  height:1px;
}
