body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u1_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:626px;
  width:183px;
  height:16px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
