body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2227 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u2227_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2227_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-size:12px;
  color:#BCBCBC;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:35px;
  width:121px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:37px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:33px;
  width:6px;
  height:25px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:26px;
  width:55px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2245_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:22px;
  width:1px;
  height:1px;
}
#u2246 {
  position:absolute;
  left:275px;
  top:64px;
  visibility:hidden;
}
#u2246_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:101px;
  height:161px;
  background-image:none;
}
#u2246_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
.u2248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
.u2249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2247-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u2247-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
}
#u2247-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
}
#u2247-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:40px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:66px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:375px;
  height:65px;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:74px;
  width:342px;
  height:48px;
  overflow:hidden;
}
#u2253_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2253_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2254 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u2254_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:451px;
  height:48px;
  background-image:none;
}
#u2254_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:2px;
}
.u2256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  height:1px;
}
.u2257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
.u2258 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:25px;
  height:25px;
}
.u2259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u2260 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:25px;
  height:25px;
}
.u2260_img.selected {
}
.u2260.selected {
}
.u2260_img.disabled {
}
.u2260.disabled {
}
.u2261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
.u2262 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:32px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1296DB;
  text-align:center;
}
.u2263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2255-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u2255-2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:47px;
}
#u2255-3 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:47px;
}
#u2255-4 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:47px;
}
#u2255-5 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:47px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:0px;
  width:500px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:424px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:375px;
  height:423px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:204px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2267 {
  position:absolute;
  left:0px;
  top:0px;
}
.u2267_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
  background-image:none;
}
.u2267_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
.u2268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-size:12px;
}
.u2269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u2270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#999999;
}
.u2271 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
.u2272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
.u2272 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:200px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u2273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:195px;
  word-wrap:break-word;
}
.u2274 {
  position:absolute;
  left:325px;
  top:17px;
  visibility:hidden;
}
.u2274_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
  background-image:none;
}
.u2274_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
.u2275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
.u2276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2274_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  visibility:hidden;
  background-image:none;
}
.u2274_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
.u2277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u2278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2277_ann {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-4px;
  width:1px;
  height:1px;
}
.u2267_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:321px;
  height:121px;
  visibility:hidden;
  background-image:none;
}
.u2267_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:121px;
}
.u2279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
  font-size:12px;
}
.u2280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u2281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#999999;
}
.u2282 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
.u2283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
.u2283 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:200px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u2284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:195px;
  word-wrap:break-word;
}
.u2285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
.u2285 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:50px;
  height:50px;
  font-size:20px;
}
.u2286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  word-wrap:break-word;
}
.u2267_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:321px;
  height:131px;
  visibility:hidden;
  background-image:none;
}
.u2267_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:131px;
}
.u2287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:130px;
  font-size:12px;
}
.u2288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:57px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u2289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#999999;
}
.u2290 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
.u2291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
.u2291 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:15px;
  width:15px;
  height:20px;
}
.u2292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2293 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:300px;
  height:70px;
}
.u2293_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
.u2293_input {
  font-family:'Arial';
}
#u2266-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u2266-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:50px;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:244px;
  width:320px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:43px;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:375px;
  height:42px;
  font-size:12px;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:205px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2297_ann {
  border-width:0px;
  position:absolute;
  left:66px;
  top:201px;
  width:1px;
  height:1px;
}
#u2299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:201px;
  width:120px;
  height:22px;
  font-size:18px;
  color:#0000FF;
  text-align:right;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:43px;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:375px;
  height:42px;
  font-size:12px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:153px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2304_ann {
  border-width:0px;
  position:absolute;
  left:66px;
  top:149px;
  width:1px;
  height:1px;
}
#u2306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:149px;
  width:120px;
  height:22px;
  font-size:18px;
  color:#0000FF;
  text-align:right;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:603px;
  width:335px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  word-wrap:break-word;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:51px;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:344px;
  width:71px;
  height:50px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:71px;
  white-space:nowrap;
}
.u2315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u2315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  font-size:12px;
}
.u2315_img.selected {
}
.u2315.selected {
}
.u2316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2314-2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:70px;
  height:70px;
}
#u2314-3 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:70px;
  height:70px;
}
#u2314-4 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:70px;
  height:70px;
}
#u2314-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:70px;
  height:70px;
}
#u2314-6 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:85px;
  width:70px;
  height:70px;
}
#u2314-7 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:85px;
  width:70px;
  height:70px;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:394px;
  width:325px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2318 {
  position:fixed;
  left:20px;
  top:50%;
  margin-top:-74px;
  visibility:hidden;
}
#u2318_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
  background-image:none;
}
#u2318_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:147px;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:335px;
  height:48px;
  font-size:16px;
  text-align:center;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u2323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:1px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:48px;
  font-size:16px;
  text-align:center;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u2327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:335px;
  height:1px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:335px;
  height:48px;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
