body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u816 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u816_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u816_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-size:12px;
  color:#BCBCBC;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:35px;
  width:121px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:37px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:528px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:375px;
  height:527px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:256px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:605px;
  width:335px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  word-wrap:break-word;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:317px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:276px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u838_ann {
  border-width:0px;
  position:absolute;
  left:60px;
  top:272px;
  width:1px;
  height:1px;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:344px;
  width:332px;
  height:1px;
  font-size:12px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:304px;
  width:332px;
  height:1px;
  font-size:12px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:194px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u844_ann {
  border-width:0px;
  position:absolute;
  left:60px;
  top:190px;
  width:1px;
  height:1px;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:195px;
  width:95px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:195px;
  width:19px;
  height:16px;
  font-size:12px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_ann {
  border-width:0px;
  position:absolute;
  left:350px;
  top:191px;
  width:1px;
  height:1px;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:222px;
  width:332px;
  height:1px;
  font-size:12px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:263px;
  width:290px;
  height:1px;
  font-size:12px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:234px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:234px;
  width:95px;
  height:15px;
  font-size:12px;
  color:#BBBBBB;
  text-align:right;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:182px;
  width:332px;
  height:1px;
  font-size:12px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:154px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u860_ann {
  border-width:0px;
  position:absolute;
  left:60px;
  top:150px;
  width:1px;
  height:1px;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:154px;
  width:95px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:154px;
  width:9px;
  height:16px;
  font-size:12px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:80px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:225px;
  width:1px;
  height:79px;
  font-size:12px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:251px;
  width:32px;
  height:25px;
  font-size:12px;
  color:#0000FF;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:276px;
  width:95px;
  height:15px;
  font-size:12px;
  color:#BBBBBB;
  text-align:right;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:317px;
  width:39px;
  height:16px;
  font-size:12px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u872_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:317px;
  width:32px;
  height:16px;
  font-size:12px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u874_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:33px;
  width:6px;
  height:25px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:26px;
  width:55px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u879_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:22px;
  width:1px;
  height:1px;
}
#u880 {
  position:absolute;
  left:275px;
  top:64px;
  visibility:hidden;
}
#u880_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:101px;
  height:161px;
  background-image:none;
}
#u880_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
.u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
.u883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u881-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u881-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
}
#u881-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
}
#u881-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:40px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:465px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#999999;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:480px;
  width:15px;
  height:20px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:515px;
  width:320px;
  height:70px;
}
#u889_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u889_input {
  font-family:'Arial';
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:66px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:375px;
  height:65px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:74px;
  width:342px;
  height:48px;
  overflow:hidden;
}
#u893_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u893_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u894_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:451px;
  height:48px;
  background-image:none;
}
#u894_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:2px;
}
.u896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  height:1px;
}
.u897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
.u898 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:25px;
  height:25px;
}
.u899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u900 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:25px;
  height:25px;
}
.u900_img.selected {
}
.u900.selected {
}
.u900_img.disabled {
}
.u900.disabled {
}
.u901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
.u902 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:32px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1296DB;
  text-align:center;
}
.u903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u895-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u895-2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:47px;
}
#u895-3 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:47px;
}
#u895-4 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:47px;
}
#u895-5 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:47px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:0px;
  width:500px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:51px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:345px;
  width:71px;
  height:50px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:71px;
  white-space:nowrap;
}
.u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  font-size:12px;
}
.u909_img.selected {
}
.u909.selected {
}
.u910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u908-2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:70px;
  height:70px;
}
#u908-3 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:70px;
  height:70px;
}
#u908-4 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:70px;
  height:70px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:395px;
  width:325px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u912 {
  position:fixed;
  left:18px;
  top:50%;
  margin-top:-74px;
  visibility:hidden;
}
#u912_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
  background-image:none;
}
#u912_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:147px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:335px;
  height:48px;
  font-size:16px;
  text-align:center;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:1px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:48px;
  font-size:16px;
  text-align:center;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:335px;
  height:1px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:335px;
  height:48px;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
